/* Form Input style */
#issueInputForm {
    width: 80%;
    margin: auto;
}

.jumbotron {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(184,180,184,0.8);
    -moz-box-shadow: 0px 0px 14px 2px rgba(184,180,184,0.8);
    box-shadow: 0px 0px 14px 2px rgba(184,180,184,0.8);
}

.form-control {
    border-radius: 25px;
}

.display-3 {
    text-align: center;
}

#heading {
    text-align: center;
    /* width: 60%;
    /* margin: auto;  */
}

#custom-container {
    width: 50%;
}

small{
    color: #ccc;
    font-size: 18px;
}

.footer {
    color: #ccc;
    font-size: 16px;
}

/* button style */

.btn {
    margin: 5px;
    border-radius: 25px;
    width: 100%;
}

.btn1, .btn2 {
    width: 60%;
}
.btn1 {
    background: #0022bb;
    color: #fff;

}

.btn2 {
    background: crimson;
    color: #fff;

}


/* js dynamic html */

.well {
    text-align: center;
    background: rgba(0, 0, 0, 0.822);
    color: #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(184,180,184,0.8);
    -moz-box-shadow: 0px 0px 14px 2px rgba(184,180,184,0.8);
    box-shadow: 0px 0px 14px 2px rgba(184,180,184,0.8);
    
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #jssissueInputForm {
        width: 80%;
        margin: auto;
    }
    #heading {
        text-align: center;
        font-size: 25px;
        margin: 10px 0 10px 0;
    }
    
    #custom-container {
        width: 80%;
    }
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    #jssissueInputForm {
        width: 80%;
        margin: auto;
    }
    
    #heading {
        text-align: center;
        font-size: 20px;
        margin: 10px 0 10px 0;
    }

    #custom-container {
        width: 80%;
    }
  }