#jssissueInputForm {
    width: 80%;
    margin: auto;
}

.display-3 {
    text-align: center;
}

#heading {
    text-align: center;
    /* width: 60%;
    /* margin: auto;  */
}

#custom-container {
    width: 50%;
}

small{
    color: #ccc;
    font-size: 18px;
}

.footer {
    color: #ccc;
    font-size: 16px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #jssissueInputForm {
        width: 80%;
        margin: auto;
    }
    #heading {
        text-align: center;
        font-size: 25px;
        margin: 10px 0 10px 0;
    }
    
    #custom-container {
        width: 80%;
    }
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    #jssissueInputForm {
        width: 80%;
        margin: auto;
    }
    
    #heading {
        text-align: center;
        font-size: 20px;
        margin: 10px 0 10px 0;
    }

    #custom-container {
        width: 80%;
    }
  }